#songview #songdescr {
	display: inline-block;
	width: 35em;
	text-align: center;
}

#songview #songdescr p {
	font-family: Verdana;
	text-align: left;
	font-size: 1.75em;
}

#songview #songdescr p:first-child{
	font-size: 3em;
}

#songview #controls{
	font-size: 1.5em;
}

#albumart {
	text-align: center;
}

#albumart img {
	width: 35em;
	height: 35em;
}
