<!--
  vim: tabstop=2 shiftwidth=2 expandtab
-->
<div id="searchview">
  <div id="searchcontrols"        class="controlbar">
    <input id="searchbox"></input>
    <div id="submitbutton"      class="controlbutton">submit</div>
    <div id="addallbutton"      class="controlbutton">add all</div>
  </div>
  <div id="searchviewsection"     class="viewsection">
    <div id="searchresults"></div>
  </div>
</div>
