<!--
  vim: tabstop=2 shiftwidth=2 expandtab
-->
  <div id="toolbar" class="ui-widget-header ui-corner-all">
    <input type="text" id="searchbox"></input>
    <button id="search_submit_button">submit</button>
    <button id="search_add_button">add selection</button>
  </div>
</header>
<section>
  <%= render "search_results" %>
</section>
