<!--
  vim: tabstop=2 shiftwidth=2 expandtab
-->
  <menu>
    <input id="searchbox"></input>
    <a id="submitbutton">submit</a>
    <% if can? :control_mpd, nil %>
      <a id="addallbutton">add all</a>
    <% end %>
  </menu>
</header>
<section>
</section>
