<!--
  vim: tabstop=2 shiftwidth=2 expandtab
-->
  <menu>
    <input id="searchbox"></input>
    <a id="submitbutton">submit</a>
    <a id="addallbutton">add all</a>
  </menu>
</header>
<section>
</section>
