<!--
  vim: tabstop=2 shiftwidth=2 expandtab
-->
<div id="songcontrols"      class="controlbar">
  <div id="prevbutton"    class="controlbutton">prev</div>
  <div id="togglebutton"  class="controlbutton">toggle</div>
  <div id="nextbutton"    class="controlbutton">next</div>
  <div id="minusbutton"   class="controlbutton">-</div>
  <div id="plusbutton"    class="controlbutton">+</div>
</div>
<div id="songview"   class="viewsection">
  <div id="progressbar-container">
    <div id="progressbar"></div>
  </div>
  <div id="songdisplay">
    <p id="albumart"></p>
    <div id="albumart-overlay"></div>
    <div id="songinfo">
      <p id="title">
      </p>
      <p id="artist">
      </p>
      <p id="album">
      </p>
    </div>
  </div>
</div>
