<!--
  vim: tabstop=2 shiftwidth=2 expandtab
-->
  <div id="toolbar" class="ui-widget-header ui-corner-all">
  <% if user_signed_in? %>
    <button id="hype_button">hype</button>
    <button id="hate_button">hate</button>
    <% if can? :control_mpd, nil %>
      <button id="prev_button">prev</button>
      <button id="toggle_button">play</button>
      <button id="next_button">next</button>
      <button id="voldown_button">volume down</button>
      <button id="volup_button">volume up</button>
    <% end %>
  <% end %>
  </div>
</header>
<section>
  <div id="progressbar">
    <span></span>
  </div>
  <div id="songdisplay">
    <p id="albumart"></p>
    <div id="albumart-overlay"></div>
    <div id="songinfo">
      <p id="title">
      </p>
      <p id="artist">
      </p>
      <p id="album">
      </p>
    </div>
  </div>
</section>
