/*
    vim: tabstop=3 shiftwidth=3 noexpandtab
*/



/* Smartphones (portrait and landscape) ---------*/
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	/* Styles */
}


/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
	/* Styles */

}


/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
	/* Styles */
}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	/* Styles */
}


/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	/* Styles */
}


/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	/* Styles */
}


body {
	background: #757575; /* Old browsers */
   background: -moz-linear-gradient(left, #757575 0%, #b5b5b5 32%, #cacaca 52%, #b5b5b5 72%, #757575 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(left, #757575 0%,#b5b5b5 32%,#cacaca 52%,#b5b5b5 72%,#757575 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #757575 0%,#b5b5b5 32%,#cccccc 52%,#cacaca 72%,#757575 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #757575 0%,#b5b5b5 32%,#cccccc 52%,#cacaca 72%,#757575 100%); /* IE10+ */

		
	font-family: Verdana;
	text-align: center;
	color: #FFFFFF;
}

a				{text-decoration: none;}
a:link 		{color: #FFFFFF;}
a:visited 	{color: #FFFFFF;}

#modeswitcher{
	position: fixed;
	z-index: 10;

	left: 1em;
	right: 1em;
	top: 0.5em;

	background-color: #606060;
	border-radius: 5px;
	display: block;
	text-align: center;
	opacity: 0.8;

	padding: 0.5em;
}

.modebutton {
	background-color: #808080;
	display: inline-block;
	border-radius: 10px;
	opacity: 0.4;
	
	font-family: Verdana;
	font-size: 3.5em;
	color: #FFFFFF;
	
	text-align: center;

	margin-left: 0.5em;
	margin-right: 0.5em;
	
	width: 2em;
	height: 2em;
}

.modeview {
}

.viewsection {
	display: block;
	text-align: center;

	opacity: 0.9;

	padding: 0.5em;

	margin: 0.5em;
	margin-top: 16.5em;
}

.controlbar {
	position: fixed;
	z-index: 10;

	left: 0.5em;
	right: 0.5em;
	top: 8.5em;

	background-color: #606060;
	border-radius: 5px;
	display: block;
	text-align: center;
	opacity: 0.8;

	padding: 0.5em;
	margin: 0.5em;

	height: 6em;
}
