<!--
  vim: tabstop=2 shiftwidth=2 expandtab
-->
<div id="browseview">
  <div id="browsecontrols"      class="controlbar"></div>
  <div id="browseviewsection"   class="viewsection">
    <div id="browselist">
    </div>
  </div>
</div>
