<!--
  vim: tabstop=2 shiftwidth=2 expandtab
-->
  <div id="toolbar" class="ui-widget-header ui-corner-all">
    <button id="navroot"></button>
    <button id="navartist"></button>
    <button id="navalbum"></button>
  </div>
</header>
<section>
</section>
