<!--
  vim: tabstop=2 shiftwidth=2 expandtab
-->

  <div data-role="navbar">
    <ul id="nav">
      <a id="navroot" data-role="button">/</a>
      <a id="navartist" data-role="button">artist</a>
      <a id="navalbum" data-role="button">album</a>
    </ul>
  </div>
</div>

<div data-role="content">
  <ul id="section" data-role="listview" data-filter="true">
    <%#= render "browse_artists" %>
  </ul>
</div>
