<!--
  vim: tabstop=2 shiftwidth=2 expandtab
-->
  <div id="toolbar" class="ui-widget-header ui-corner-all">
    <button id="navroot" class="browse_navbutton">/</button>
    <button id="navartist" class="browse_navbutton"></button>
    <button id="navalbum" class="browse_navbutton"></button>
  </div>
</header>
<section>
</section>
