<!--
  vim: tabstop=2 shiftwidth=2 expandtab
-->

  <div data-role="navbar">
    <ul>
      <li><a href="#">artists</a></li>
      <li><a href="#">albums</a></li>
    </ul>
  </div>
</div>

<div data-role="content">
  <ul data-role="listview" data-autodividers="true" data-filter="true" id="section">
  </ul>
</div>
