// vim: tabstop=2 shiftwidth=2 expandtab
// Place all the styles related to the Browse controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#browseview {
  /* layout parameters */
  margin-left: auto;
  margin-right: auto;
  width: 80%;

  /* display parameters */
  border-radius: 5px;
  display: block;

  /* text parameters */
  color: #FFFFFF;
  text-align: center;
}

.browselist_elem {
  /* layout parameters */
  margin: 6px;

  /* display parameters */
  background-color: #606060;
  border-radius: 5px;
  display: block;
  opacity: 0.6;

  /* text parameters */
  font-size: 2em;
  text-align: left;

  /* nested elements */
  div {
    font-size: 0.5em;
  }

  div:first-child {
    font-size: 1em;
    display: inline-block;
  }
}
