/*
 * vim: tabstop=2 shiftwidth=2 expandtab
 */

.songlist .ui-selecting { background: #FECA40; }
.songlist .ui-selected { background: #F39814; color: white; }
.songlist { list-style-type: none; margin: 0; padding: 0; width: 100%; }
.songlist li { margin: 3px; text-align: left; }
.songlist li h3 { font-size: 1em; }
.songlist li p { font-size: 0.8em; }

body {
  background: #757575; /* Old browsers */
  background: -moz-linear-gradient(left, #757575 0%, #b5b5b5 32%, #cacaca 52%, #b5b5b5 72%, #757575 100%); /* FF3.6+ */
  background: -ms-linear-gradient(left, #757575 0%,#b5b5b5 32%,#cccccc 52%,#cacaca 72%,#757575 100%); /* IE10+ */
  background: -o-linear-gradient(left, #757575 0%,#b5b5b5 32%,#cccccc 52%,#cacaca 72%,#757575 100%); /* Opera 11.10+ */
  background: -webkit-linear-gradient(left, #757575 0%,#b5b5b5 32%,#cacaca 52%,#b5b5b5 72%,#757575 100%); /* Chrome10+,Safari5.1+ */

  /* text parameters */
  color: #FFFFFF;
  font-family: Verdana;
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

a:link {
  color: #FFFFFF;
}

a:visited {
  color: #FFFFFF;
}

header {
  /* layout parameters */
  left: 1em;
  position: fixed;
  right: 1em;
  top: 0.5em;
  z-index: 10;
}

mark {
  /* layout parameters */
  left: 20%;
  position: absolute;
  right: 20%;
  top: 9.25em;
  z-index: 20;

  /* display parameters */
  background-color: #606060;
  border-radius: 5px;
  padding: 0.5em;

  /* text parameters */
  color: #FFFFFF;
  font-size: 1.5em;
}

nav {
  /* display parameters */
  background-color: #606060;
  border-radius: 5px;
  display: block;
  opacity: 0.8;
  padding: 0.5em;

  a {
    /* layout parameters */
    height: 1.5em;
    margin: 0.05em;
    width: 6em;

    /* display parameters */
    background-color: #808080;
    border-radius: 5px;
    display: inline-block;
    opacity: 0.4;

    /* text parameters */
    color: #FFFFFF;
    font-size: 2em;
  }

  .current {
    opacity: 1.0;
  }
}

menu {
  /* layout parameters */
  height: 2.5em;
  margin: 0.5em;

  /* display parameters */
  background-color: #606060;
  border-radius: 5px;
  display: block;
  opacity: 0.8;
  padding: 0.5em;

  a {
    /* layout parameters */
    height: 1.5em;
    margin: 0.05em;
    width: 4em;

    /* display parameters */
    background-color: #808080;
    border-radius: 5px;
    display: inline-block;

    /* text parameters */
    font-size: 1.5em;
  }
}

section {
  /* layout parameters */
  margin: auto;
  margin-top: 8.75em;
  width: 80%;

  /* display parameters */
  border-radius: 5px;
  display: block;
  opacity: 0.9;
  padding: 0.5em;
}

select {
  /* display parameters */
  background-color: #404040;
  border-radius: 5px;
  border-style: none;

  /* text parameters */
  color: white;
  font-family: Verdana;
  font-size: 1.5em;
}

form {
  /* display parameters */
  background-color: #606060;
  border-radius: 5px;
  display: block;
  opacity: 0.8;
  padding: 2em;

  /* nested elements */
  div {
    margin-top: 1.5em;
  }

  div:last-child {
    margin-top: 3em;
    margin-bottom: 1.5em;
  }

  label {
    font-size: 1.5em;
  }
}
