// vim: tabstop=2 shiftwidth=2 expandtab
// Place all the styles related to the Playlist controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.playlist_elem {
  /* layout parameters */
  margin: 6px;

  /* display parameters */
  background-color: #606060;
  border-radius: 5px;
  display: block;
  opacity: 0.6;

  /* text parameters */
  text-align: left;

  /* nested elements */
  table {
    font-size: 2em;
    padding: 0em;

    td {
      padding: 0em;
    }

    td:first-child {
      background-color: transparent;
      cursor: pointer;
    }

    td:last-child {
      background-color: transparent;
      cursor: pointer;
      padding-bottom: 0.15em;
      padding-right: 0.3em;
      text-align: right;
      width: 1em;
    }
  }

  div {
    cursor: pointer;
    font-size: 1em;
  }
}
