#browseview {
	border-radius: 5px;
	display: block;
	text-align: center;

	margin-left: auto;
	margin-right: auto;

	width: 80%;

	color: #FFFFFF;
}

#browseviewsection {

}

.browselist_elem {
	background-color: #606060;
	font-size: 2em;
	text-align: left;
	border-radius: 5px;
	display: block;
	opacity: 0.6;

	margin: 6px;
}

.browselist_elem div {
	font-size: 0.5em;	
}

.browselist_elem div:first-child {
	font-size: 1em;
	display: inline-block;
}
