/*
    vim: tabstop=3 shiftwidth=3 noexpandtab
*/
body {
	
	background: #757575; /* Old browsers */
	background: -moz-linear-gradient(left, #757575 0%, #b5b5b5 32%, #cacaca 52%, #b5b5b5 72%, #757575 100%); /* FF3.6+ */
	background: -webkit-linear-gradient(left, #757575 0%,#b5b5b5 32%,#cacaca 52%,#b5b5b5 72%,#757575 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #757575 0%,#b5b5b5 32%,#cccccc 52%,#cacaca 72%,#757575 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #757575 0%,#b5b5b5 32%,#cccccc 52%,#cacaca 72%,#757575 100%); /* IE10+ */
	
	
	font-family: Verdana;
	text-align: center;
	color: #FFFFFF;

}

::-webkit-scrollbar {
	display: none;
}

a				{text-decoration: none;}
a:link		{color: #FFFFFF;}
a:visited 	{color: #FFFFFF;}

#modeswitcher{
	position: fixed;
	z-index: 10;

	left: 1em;
	right: 1em;
	top: 0.5em;

	background-color: #606060;

	border-radius: 5px;
	display: block;
	text-align: center;
	opacity: 0.8;

	padding: 0.5em;

}

.modebutton {
	background-color: #808080;
	display: inline-block;
	border-radius: 5px;
	opacity: 0.4;

	font-size: 2em;
	color: #FFFFFF;

	text-align: center;

	margin: 0.05em;

	width: 6em;
	height: 1.5em;

}
/*
#displayarea{
	background-color: #000000;
	display: block;
	border-radius: 10px;

	color: #FFFFFF;

	text-align: center;

	margin-top: 8.75em;
}*/

.modeview {
}

.viewsection {
	border-radius: 5px;
	display: block;
	text-align: center;

	opacity: 0.9;

	padding: 0.5em;

	margin: 0.5em;
	margin-top: 8.75em;
}

.controlbar {
	position: fixed;
	z-index: 1;

	left: 0.5em;
	right: 0.5em;
	top: 4.5em;

	background-color: #606060;
	border-radius: 5px;
	display: block;
	text-align: center;
	opacity: 0.8;

	padding: 0.5em;

	margin: 0.5em;

	height: 2.5em;
}
