/*
    vim: tabstop=3 shiftwidth=3 noexpandtab
*/
#playlist {
	border-radius: 5px;
	display: inline-block;
	text-align: center;

	width: 80%;

	color: #FFFFFF;
}

.playlist_elem {
	background-color:	#606060;
	font-size: 2em;
	text-align: left;
	border-radius: 5px;
	display: block;
	opacity: 0.6;

	margin: 6px;
}

.playlist_elem #songdescr {
	text-align: left;
	font-size: 1em;

	display: inline-block;

	margin-left: 2px;
}

.playlist_elem div {
	font-size: 0.5em;	
}

.playlist_elem div:first-child {
	font-size: 1em;
	display: inline-block;
}
