#songview {
	padding-top: 1em;
	padding-bottom: 1em;
}

#songview #songdescr {
	display: inline-block;
	
	text-align: center;

	width: 35em;
}

#songview #songdescr p {
	font-family: Verdana;
	font-size: 1em;

	text-align: left;
}

#songview #songdescr p:first-child{
	font-size: 2em;
}

#songview #controls{
	font-size: 1.5em;
}

#albumart {
	background-color: #000000;
	display: block;
	text-align: center;
	border-radius: 5px;

	padding: 6px;

	margin-left: auto;
	margin-right: auto;

	width: 25em;
}

#albumart img {
	width: 25em;
	height: 25em;
}

#controls {
	display: block;
	
	text-align: center;

	margin: 5px;
}

.controlbutton {
	background-color: #212121;
	display: inline-block;
	border-radius: 5px;

	font-size: 1em;

	width: 4em;
	height: 1.5em;
}

#volumecontrols {
	display: block;

	margin: 5px;
}

.volumebutton {
	background-color: #212121;
	display: inline-block;
	border-radius: 5px;

	font-size: 1.5em;

	width: 2em;
	height: auto;
}


#progressbar-container {
	background-color: #000000;
	display: block;
	border-radius: 5px;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;

	width: 30em;
	height: 0.6em;
}

#progressbar {
	background-color: #FFFFFF;
	display: block;
	border-radius: 5px;

	width: 1%;
	height: 100%;
}
