<!--
  vim: tabstop=2 shiftwidth=2 expandtab
-->
<div id="playlistcontrols"      class="controlbar">
  <div id="clearbutton"       class="controlbutton">clear</div>
</div>
<div id="playlistview"   class="viewsection">
</div>
