<!--
  vim: tabstop=2 shiftwidth=2 expandtab
-->
<div id="playlistview">
  <div id="playlistcontrols"      class="controlbar"></div>
  <div id="playlistviewsection"   class="viewsection">
    <div id="playlist"></div>
  </div>
</div>
