<!--
  vim: tabstop=2 shiftwidth=2 expandtab
-->
  <div id="toolbar" class="ui-widget-header ui-corner-all">
    <% if can? :control_mpd, nil %>
      <button id="playlist_mode_button">move</button>
      <button id="playlist_clear_button">clear</button>
      <button id="playlist_remove_button">remove selected</button>
    <% end %>
  </div>
</header>
<section>
</section>
