<!--
  vim: tabstop=2 shiftwidth=2 expandtab
-->
  <div id="toolbar" class="ui-widget-header ui-corner-all">
    <% if can? :control_mpd, nil %>
      <%= menu_link "clear", mpd_clear_path %>
    <% end %>
  </div>
</header>
<section>
</section>
